# Consolidação de Arquivos - Estruturação

### Criação do modelo com todos os atributos possíveis

In [1]:
import duckdb
import pandas as pd

In [2]:
df_base_atributos = pd.read_csv(
    "../resultados/detalhes/consolidacao_detalhes.csv",
    sep=";",
    dtype="str"
)

In [3]:
df_base_atributos.head(10)

,caminho,arquivo,coluna,amostra,quantidade,aba,observacoes,status,nova_coluna
0,../arquivos,informacao-cargo.txt,Cargo,Gerente;Analista,3,NaN,NaN,OK,***Esse atributo pode renomear as colunas na c...
1,../arquivos,informacao-cargo.txt,ID,1;2,3,NaN,NaN,OK,***Esse atributo pode renomear as colunas na c...
2,../arquivos,informacao-cargo.txt,Idade,30;25,3,NaN,NaN,OK,***Esse atributo pode renomear as colunas na c...
3,../arquivos,informacao-cargo.txt,Nome,Ana;Bruno,3,NaN,NaN,OK,***Esse atributo pode renomear as colunas na c...
4,../arquivos,informacao-empresas.csv,Empresa,Empresa A;Empresa B,3,NaN,NaN,OK,***Esse atributo pode renomear as colunas na c...
5,../arquivos,informacao-empresas.csv,ID,1;2,3,NaN,NaN,OK,***Esse atributo pode renomear as colunas na c...
6,../arquivos,informacao-empresas.csv,Idade,30;25,3,NaN,NaN,OK,***Esse atributo pode renomear as colunas na c...
7,../arquivos,informacao-empresas.csv,Nome,Ana;Bruno,3,NaN,NaN,OK,***Esse atributo pode renomear as colunas na c...
8,../arquivos,informacao-erro.jpg,NaN,NaN,NaN,NaN,Erro: Formato de arquivo não suportado,ERRO,NaN
9,../arquivos,informacao-projeto.xlsx,ID,1;2,3,Sheet1,NaN,OK,***Esse atributo pode renomear as colunas na c...

In [4]:
query = """
SELECT
    coluna,
    amostra
FROM (
    SELECT 
            ROW_NUMBER() OVER (PARTITION BY coluna ORDER BY coluna, amostra) AS ID,
            coluna,
            split_part(amostra, ';', 1) amostra
    FROM df_base_atributos
    WHERE coluna IS NOT NULL
    ORDER BY coluna
    ) T1
WHERE ID = 1;
"""

In [5]:
with duckdb.connect(database=":memory:", read_only=False) as conexao:
    df_modelo_colunas = conexao.sql(query).df()

In [6]:
df_modelo_colunas

          coluna          amostra
0            CPF   111.111.111-11
1          Cargo          Gerente
2   Departamento               RH
3          Email  ana@example.com
4        Empresa        Empresa A
5       Endereco        Rua A 123
6         Estado               SP
7             ID                1
8          Idade               30
9           Nome              Ana
10       Projeto      Projeto SWD
11       Salario             5000
12        Status            Ativo
13      Telefone        123456789

In [7]:
df_modelo_colunas = df_modelo_colunas.pivot(columns="coluna", values="amostra")

In [8]:
df_modelo_colunas
#df_modelo_colunas.ffill()
#df_modelo_colunas.ffill().bfill().iloc[:1]

coluna,CPF,Cargo,Departamento,Email,Empresa,Endereco,Estado,ID,Idade,Nome,Projeto,Salario,Status,Telefone
0,111.111.111-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Gerente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,RH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,ana@example.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Empresa A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,Rua A 123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ana,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Projeto SWD,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ativo,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123456789

In [9]:
df_modelo_colunas = df_modelo_colunas.ffill().bfill().iloc[:1]

In [10]:
(
    df_modelo_colunas.to_json(
        "../modelo/base/layout_modelo.json",
        orient="records",
        force_ascii=False
    )
)

### Criando o modelo de dados geral

+ Criando o JsonSchema do modelo

In [11]:
import json


schema = {
    "$schema": "http://json-schema.org/draft-07/schema#",
    "title": "TodasColunas",
    "type": "object",
    "properties": {}
}

with open("../modelo/base/layout_modelo.json") as arquivo:
    atributos = json.load(arquivo)
    
for chave in atributos[0].keys():
    schema["properties"][chave] = {"type": "string"}

json_schema = json.dumps(schema, indent=2)

with open("../modelo/base/jsonshema_modelo.json", "w") as arquivo:
    json.dump(schema, arquivo, indent=2)

+ Criando a Classe Python do modelo

In [12]:
! mkdir -p ./modelo && \
    datamodel-codegen  \
    --input ../modelo/base/jsonshema_modelo.json \
    --input-file-type jsonschema \
    --output ./modelo/modelo.py

### Conversão de todos os arquivos em JSONs válidos.

In [13]:
import os
from pathlib import Path
from secrets import token_hex
from datetime import datetime

import pandas as pd
import duckdb


def gera_arquivo_json(arquivo: str, aba: str, encoding: str ="latin1") -> bool:
    try:
        if arquivo.endswith(".xlsx") or arquivo.endswith(".xls"):
            df = pd.read_excel(arquivo, engine="openpyxl", sheet_name=aba, dtype="str")
        elif arquivo.endswith(".csv") or arquivo.endswith(".txt"):
            df = pd.read_csv(arquivo, encoding=encoding, delimiter=";", dtype="str")
        elif arquivo.endswith(".json"):
            df = pd.read_json(arquivo)
        else:
            raise ValueError("Formato de arquivo não suportado")

        df["caminho_arquivo"] = str(Path(os.path.relpath(arquivo)).parent)
        df["nome_arquivo"] = arquivo.split("/")[-1]
        df["aba_arquivo"] = aba
        df["datahora_processamento"] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        df = df.astype("str")

        caminho_arquivo_json = ("../resultados/tmp/jsons")

        if not os.path.exists(caminho_arquivo_json):
            Path(caminho_arquivo_json).mkdir(parents=True, exist_ok=True)

        arquivo_json = f"{arquivo.split('/')[-1].split('.')[0]}-{token_hex(16)}.json"
        df.to_json(f"{caminho_arquivo_json}/{arquivo_json}", orient="records", force_ascii=False)  
        return True

    except Exception as erro:
        raise ValueError(f"Erro na formatação final do arquivo {arquivo}: {erro}")

In [14]:
detalhes_arquivos = pd.read_csv(
    "../resultados/detalhes/consolidacao_detalhes.csv",
    sep=";",
    dtype="str"
)

In [15]:
detalhes_arquivos = detalhes_arquivos.fillna("")

In [16]:
detalhes_arquivos.head(10)

,caminho,arquivo,coluna,amostra,quantidade,aba,observacoes,status,nova_coluna
0,../arquivos,informacao-cargo.txt,Cargo,Gerente;Analista,3,,,OK,***Esse atributo pode renomear as colunas na c...
1,../arquivos,informacao-cargo.txt,ID,1;2,3,,,OK,***Esse atributo pode renomear as colunas na c...
2,../arquivos,informacao-cargo.txt,Idade,30;25,3,,,OK,***Esse atributo pode renomear as colunas na c...
3,../arquivos,informacao-cargo.txt,Nome,Ana;Bruno,3,,,OK,***Esse atributo pode renomear as colunas na c...
4,../arquivos,informacao-empresas.csv,Empresa,Empresa A;Empresa B,3,,,OK,***Esse atributo pode renomear as colunas na c...
5,../arquivos,informacao-empresas.csv,ID,1;2,3,,,OK,***Esse atributo pode renomear as colunas na c...
6,../arquivos,informacao-empresas.csv,Idade,30;25,3,,,OK,***Esse atributo pode renomear as colunas na c...
7,../arquivos,informacao-empresas.csv,Nome,Ana;Bruno,3,,,OK,***Esse atributo pode renomear as colunas na c...
8,../arquivos,informacao-erro.jpg,,,,,Erro: Formato de arquivo não suportado,ERRO,
9,../arquivos,informacao-projeto.xlsx,ID,1;2,3,Sheet1,,OK,***Esse atributo pode renomear as colunas na c...

In [17]:
query = """
SELECT DISTINCT caminho, arquivo, aba
FROM detalhes_arquivos
WHERE status = 'OK';
"""

In [18]:
with duckdb.connect(database=":memory:", read_only=False) as conexao:
    arquivos_processamento = conexao.sql(query).fetchall()

In [19]:
arquivos_processamento

[('../arquivos', 'informacao-projeto.xlsx', 'Sheet2'),
 ('../arquivos/dir1', 'informacao-pessoa.json', ''),
 ('../arquivos', 'informacao-empresas.csv', ''),
 ('../arquivos', 'informacao-projeto.xlsx', 'Sheet1'),
 ('../arquivos/dir2/dir2.1', 'informacao-salario.csv', ''),
 ('../arquivos/dir2', 'informacoes-contatos.txt', ''),
 ('../arquivos', 'informacao-cargo.txt', ''),
 ('../arquivos/dir2', 'informacao-endereco.json', ''),
 ('../arquivos/dir1', 'informacao-departamento.xlsx', 'Sheet1')]

In [20]:
for item in arquivos_processamento:
    arquivo = f"{item[0]}/{item[1]}"
    aba = item[2]
    gera_arquivo_json(arquivo, aba)
    print(f"Arquivo: {arquivo} convertido com Sucesso!")

Arquivo: ../arquivos/informacao-projeto.xlsx convertido com Sucesso!
Arquivo: ../arquivos/dir1/informacao-pessoa.json convertido com Sucesso!
Arquivo: ../arquivos/informacao-empresas.csv convertido com Sucesso!
Arquivo: ../arquivos/informacao-projeto.xlsx convertido com Sucesso!
Arquivo: ../arquivos/dir2/dir2.1/informacao-salario.csv convertido com Sucesso!
Arquivo: ../arquivos/dir2/informacoes-contatos.txt convertido com Sucesso!
Arquivo: ../arquivos/informacao-cargo.txt convertido com Sucesso!
Arquivo: ../arquivos/dir2/informacao-endereco.json convertido com Sucesso!
Arquivo: ../arquivos/dir1/informacao-departamento.xlsx convertido com Sucesso!

### Consolidação de todos arquivos JSONs

In [22]:
!export PYTHONPATH=$(realpath $(pwd)/..)

In [23]:
from modelo.modelo import TodasColunas

In [24]:
def lista_arquivos(diretorio: str):
    try:
        lista_arquivos = []

        for root, _dir, arquivos in os.walk(diretorio):
            for arquivo in arquivos:
                lista_arquivos.append(f"{root}/{arquivo}")

        if len(lista_arquivos) == 0:
            raise TypeError()

        return lista_arquivos

    except Exception as _:
        return False

In [25]:
def consolidacao(arquivos_json: list):
    try:
        consolicacao_tmp = []

        def _carrega_json(arquivo_json: str):
            with open(arquivo_json, "r+", encoding="utf-8") as arquivo:
                return json.load(arquivo)

        for arquivo_json in arquivos_json:
            dados_json = _carrega_json(arquivo_json)

            for registro in dados_json:
                dados_consolidados = TodasColunas(**registro).dict()
                consolicacao_tmp.append(dados_consolidados)

        df_consolicacao_tmp = pd.DataFrame(consolicacao_tmp)
        caminho = "../resultados/consolidacao"
        arquivo = "consolidacao_estruturacao.csv"
        
        if not os.path.exists(caminho):
            Path(caminho).mkdir(parents=True, exist_ok=True)

        df_consolicacao_tmp.to_csv(
            f"{caminho}/{arquivo}",
            sep=";",
            index=False
        )
    except Exception as erro:
        print(f"Erro ao consolidar os arquivos JSONs: {erro}")

In [26]:
arquivos_json = lista_arquivos("../resultados/tmp")

In [27]:
arquivos_json

['../resultados/tmp/jsons/informacao-projeto-30cac2dfe75ca21c422f1d6b375e22e6.json',
 '../resultados/tmp/jsons/informacao-projeto-96eec6b4ba341f0da2d61ea58b8a8eac.json',
 '../resultados/tmp/jsons/informacao-cargo-4600ac6668ed9909eed1e65cf91c675a.json',
 '../resultados/tmp/jsons/informacao-pessoa-7dddb85a1189473174e7ca1361697b22.json',
 '../resultados/tmp/jsons/informacao-empresas-455283365abe477999534c1f7841f43b.json',
 '../resultados/tmp/jsons/informacao-departamento-297d2b24f013ed5a7697666af60fff37.json',
 '../resultados/tmp/jsons/informacao-salario-811572df8a0119d3e7194d9dac2ede08.json',
 '../resultados/tmp/jsons/informacao-endereco-dc8c1f5a34e29e7a95f703e2c06601ba.json',
 '../resultados/tmp/jsons/informacoes-contatos-b4320b414541f2bd137456ef10774258.json']

In [28]:
consolidacao(arquivos_json)