# Consolidação de Arquivos - Etapa Final (Resultado)

In [1]:
import duckdb
import pandas as pd

from datetime import datetime

In [2]:
df_consolidacao_estruturacao = pd.read_csv(
    "../resultados/consolidacao/consolidacao_estruturacao.csv",
    sep=";",
    dtype="str"
)

In [4]:
df_consolidacao_estruturacao.head(10)

,CPF,Cargo,Departamento,Email,Empresa,Endereco,Estado,ID,Idade,Nome,Projeto,Salario,Status,Telefone
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30,Ana,Projeto X,NaN,Ativo,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,25,Bruno,Projeto Y,NaN,Inativo,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,35,Carlos,Projeto Z,NaN,Inativo,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30,Ana,Projeto SWD,NaN,Inativo,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,25,Bruno,Projeto YQS,NaN,Inativo,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,35,Carlos,Projeto ZAQ,NaN,Ativo,NaN
6,NaN,Gerente,NaN,NaN,NaN,NaN,NaN,1,30,Ana,NaN,NaN,NaN,NaN
7,NaN,Analista,NaN,NaN,NaN,NaN,NaN,2,25,Bruno,NaN,NaN,NaN,NaN
8,NaN,Diretor,NaN,NaN,NaN,NaN,NaN,3,35,Carlos,NaN,NaN,NaN,NaN
9,111.111.111-11,NaN,NaN,NaN,NaN,NaN,NaN,1,30,Ana,NaN,NaN,NaN,NaN

In [5]:
#query = """
#SELECT * FROM df_consolidacao_estruturacao
#"""

In [6]:
query = """
SELECT
        ID,
        MAX(CPF) CPF,
        MAX(Nome) Nome,
        MAX(Idade) Idade,
        MAX(Email) Email,
        MAX(Telefone) Telefone,
        MAX(Endereco) Endereco,
        MAX(Cargo) Cargo,
        MAX(Departamento) Departamento,
        MAX(Empresa) Empresa,
        MAX(Estado) Estado,
        MAX(Projeto) Projeto,
        MAX(Salario) Salario,
        MAX(Status) Status
FROM df_consolidacao_estruturacao
GROUP BY ID
ORDER BY ID
"""

In [7]:
with duckdb.connect(database=":memory:", read_only=False) as conexao:
    df_consolidacao_final = conexao.sql(query).df()

In [8]:
df_consolidacao_final

,ID,CPF,Nome,Idade,Email,Telefone,Endereco,Cargo,Departamento,Empresa,Estado,Projeto,Salario,Status
0,1,111.111.111-11,Ana,30,ana@example.com,123456789,"Rua A, 123",Gerente,RH,Empresa A,SP,Projeto X,5000,Inativo
1,2,222.222.222-22,Bruno,25,bruno@example.com,987654321,"Avenida B, 456",Analista,TI,Empresa B,RJ,Projeto YQS,4000,Inativo
2,3,333.333.333-33,Carlos,35,carlos@example.com,555555555,"Travessa C, 789",Diretor,Finanças,Empresa C,MG,Projeto ZAQ,7000,Inativo

In [9]:
(
    df_consolidacao_final.to_csv("../resultados/consolidacao_final.csv", index=False, sep=";")
)